[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

Flask = "*"
feedparser = "*"
requests = "*"
pyquery = "*"
python-memcached = "*"
PyYAML = "*"
readability-lxml = "*"


[dev-packages]

